@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

body {
	margin: 0;
	background-color: #000;
	background-image: radial-gradient(ellipse at top, #6fcf97 0.0%, #68c78f 11.1%, #60be87 22.2%, #59b580 33.3%, #51ac78 44.4%, #49a370 55.6%, #419a68 66.7%, #399160 77.8%, #318858 88.9%, #297f50 100.0%);
    background-repeat: no-repeat;
    background-size: cover;
	/* height: 100vh; */
	overflow: hidden;
	font-family: monospace;
	font-weight: bolder;
	font-size: 3rem;
	letter-spacing: 0.06rem;
	color: rgba(255, 255, 255, 0.85);
}

#container{
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.box0{
    position: fixed;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    top:0;
    padding:0rem;
    display: flex;
    flex-flow: row wrap;
    font-size: 5.45rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 0rem;
    margin-right: 3rem;
    
}
.scoreDiv{
    font-size: 5rem;
    margin-right: 1rem;
    margin-left: 10rem;
}
.nav_item{
    margin-right: 1rem;
    margin-left: 0.64rem;
}
#main_box{
    font-family: 'Martel Sans', sans-serif;
    font-weight: bolder;
    font-size:20rem;
    text-align: center;
}

.box1{
  z-index:2;
    display: flex;
    flex-flow:column wrap;
    align-items: center;
   justify-content: center;
    margin-top: 0.4rem;

}
.inside{
    width: 100%;
    font-size:7rem;
}
.player .inside:hover {
    background-color: #e69bad;
    border-radius: 2rem;
}

.box2{
    display: none;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0.4rem;

}
.player{
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0.4rem;
    font-size: 8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* #game-over{
    font-size: 20rem;
} */

.fruits-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.fruit {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-position: center;
    will-change: transform;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: auto; 
}


.invisible{
    visibility: hidden;
}

.fruitloading {
    position: relative;
    animation: moveUpDown 1s ease-in-out infinite;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2rem);
    }
}


/* .Main-title {
    display: inline-block;
    font-family: 'Martel Sans', sans-serif;
    font-weight: bolder;
    font-size: 25rem; /* Adjust the size as needed */
    /* text-align: center;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 0.6s steps(12, end), blink-caret 0.1s step-end infinite;
} */ 

/* @keyframes typing {
    from { width: 0; }
    to { width: 80%; }
} */

/* @keyframes blink-caret {
    from, to { border-right-color: transparent; }
    50% { border-right-color: white; }
} */

/* #signup{
    font-size: 18rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
} */

.player input[type="text"],
.player input[type="email"],
.player input[type="password"] {
    z-index: 2;
    width: 650px;
    padding: 42px 20px;
    margin: 10px 10px;
    border: 2px solid #ffffff;
    border-radius: 17px;
    background: rgba(215, 161, 161, 0.1);
    color: #ffffff;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    /* justify-content: center;
    align-items: center; */
}
.player input::placeholder {
    z-index: 2;
    font-size: 5rem;
    color: rgba(18, 16, 16, 0.7);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    justify-content: center;
    align-items: center;
}
.box3{
    display: none;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0.4rem;
    

}
.nav_item:hover {
    background-color: #f695b3;
    border-radius: 5rem;
    cursor: pointer;
}

#createAccount {
    z-index: 2;
    width: 40rem;
    padding: 12px 24px;
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    background-color: #508bf8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#createAccount:hover {
    background-color: #0d66ff;
    transform: scale(1.115);
    box-shadow: 0 0 10px rgba(95, 191, 239, 0.5);
}

#backbutton {
    display: none;
    top: 0;
    z-index: 2;
    width: 25rem;
    padding: 12px 24px;
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    background-color: #fa6bb7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
#backbutton:hover {
    background-color: #ff0d7e;
    transform: scale(1.005);
    box-shadow: 0 0 10px rgba(95, 191, 239, 0.5);
}

.box4{
    display: none;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0.4rem;
    

}